# ======================================================================================
# Project metadata
# ======================================================================================

[project]
authors = [
  { name = "Hans-Martin von Gaudecker", email = "hmgaudecker@uni-bonn.de" },
  { name = "Marvin Immesberger" },
]
classifiers = [
  "Intended Audience :: Science/Research",
  "License :: OSI Approved :: GNU Affero General Public License v3",
  "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
  "Operating System :: MacOS :: MacOS X",
  "Operating System :: Microsoft :: Windows",
  "Operating System :: POSIX",
  "Operating System :: Unix",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
]
dependencies = [
  "dags>=0.4.2",
  "ipywidgets",
  "networkx>=3.5",
  "numpy",
  "numpy-groupies",
  "openpyxl",
  "optree>=0.16.0",
  "pandas",
  "plotly>=6.2.0",
  "pygments",
  "pygraphviz",
  "pytest",
  "pyyaml",
]
description = "code powering Taxes and Transfers SIMulators"
dynamic = [ "version" ]
keywords = [
  "Benefits",
  "Economics",
  "Pensions",
  "Taxes",
  "Transfers",
]
license = { file = "LICENSE" }
maintainers = [
  { name = "Hans-Martin von Gaudecker", email = "hmgaudecker@uni-bonn.de" },
  { name = "Marvin Immesberger" },
]
name = "ttsim-backend"
readme = { file = "README.md", content-type = "text/markdown" }
requires-python = ">=3.11"

[project.urls]
Changelog = "https://github.com/ttsim-dev/ttsim/CHANGES.md"
Documentation = "https://gettsim.readthedocs.io"
Github = "https://github.com/ttsim-dev/ttsim"
Repository = "https://github.com/ttsim-dev/ttsim"
Tracker = "https://github.com/ttsim-dev/ttsim/issues"

# ======================================================================================
# Build system configuration
# ======================================================================================

[build-system]
build-backend = "hatchling.build"
requires = [ "hatchling", "hatch-vcs" ]

[tool.hatch.build.hooks.vcs]
version-file = "src/ttsim/_version.py"

[tool.hatch.build.targets.sdist]
exclude = [ "tests" ]
only-packages = true

[tool.hatch.build.targets.wheel]
only-include = [ "src" ]
sources = [ "src" ]

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.version]
source = "vcs"

# ======================================================================================
# Pixi configuration
# ======================================================================================

[tool.pixi.workspace]
channels = [ "conda-forge" ]
platforms = [ "linux-64", "osx-64", "osx-arm64", "win-64" ]

# Development Dependencies (conda)
# --------------------------------------------------------------------------------------

[tool.pixi.dependencies]
ipywidgets = "*"
jupyterlab = "*"
numpy_groupies = "*"
numpydoc = "*"
openpyxl = "*"
pandas = ">=2.3"
pre-commit = "*"
pygments = "*"
pygraphviz = "*"
pytest = "*"
pyyaml = "*"
snakeviz = ">=2.2.2"
tabulate = "*"
toml = "*"

# Development Dependencies (pypi)
# --------------------------------------------------------------------------------------

[tool.pixi.pypi-dependencies]
jaxtyping = ">=0.3.2"
kaleido = ">=1.0.0"
mettsim = { path = "src_mettsim", editable = true }
pdbp = ">=1.7.1"
ttsim-backend = { path = ".", editable = true }

# Features
# --------------------------------------------------------------------------------------

[tool.pixi.feature.py311.dependencies]
python = "~=3.11.0"

[tool.pixi.feature.py312.dependencies]
python = "~=3.12.0"

[tool.pixi.feature.py313.dependencies]
python = "~=3.13.0"

[tool.pixi.feature.py314.dependencies]
python = "~=3.14.0"

[tool.pixi.feature.jax]
platforms = [ "linux-64", "osx-arm64", "win-64" ]

[tool.pixi.feature.jax.pypi-dependencies]
jax = ">=0.8"
# jax-datetime = { git = "https://github.com/google/jax-datetime.git" }

[tool.pixi.feature.cuda]
platforms = [ "linux-64" ]
system-requirements = { cuda = "13" }

[tool.pixi.feature.cuda.target.linux-64.pypi-dependencies]
jax = { version = ">=0.8", extras = [ "cuda13" ] }

[tool.pixi.feature.metal]
platforms = [ "osx-arm64" ]

[tool.pixi.feature.metal.target.osx-arm64.pypi-dependencies]
jax = ">=0.8"
jax-metal = ">=0.1.1"

[tool.pixi.feature.tests.pypi-dependencies]
ty = ">=0.0.9"
types-PyYAML = "*"
types-pytz = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"

# Tasks
# --------------------------------------------------------------------------------------

[tool.pixi.feature.tests.target.linux-64.tasks]
tests = "pytest"
ty = "ty check"

[tool.pixi.feature.tests.target.osx-64.tasks]
tests = "dot -c && pytest" # dot -c needed for pygraphviz on macOS
ty = "ty check"

[tool.pixi.feature.tests.target.osx-arm64.tasks]
tests = "dot -c && pytest" # dot -c needed for pygraphviz on macOS
ty = "ty check"

[tool.pixi.feature.tests.target.win-64.tasks]
tests = "pytest"
ty = "ty check"

[tool.pixi.feature.jax.target.linux-64.tasks]
tests-jax = "pytest --backend=jax"

[tool.pixi.feature.jax.target.osx-arm64.tasks]
tests-jax = "dot -c && pytest --backend=jax"

[tool.pixi.feature.jax.target.win-64.tasks]
tests-jax = "pytest --backend=jax"

[tool.pixi.feature.cuda.target.linux-64.tasks]
tests-jax = "pytest --backend=jax"

# Environments
# --------------------------------------------------------------------------------------

[tool.pixi.environments]
py311 = [ "py311", "tests" ]
py312 = [ "py312", "tests" ]
py313 = [ "py313", "tests" ]
py314 = [ "py314", "tests" ]
py314-cuda = [ "py314", "tests", "cuda" ]
py314-jax = [ "py314", "tests", "jax" ]
py314-metal = [ "py314", "tests", "metal" ]

# ======================================================================================
# Ruff configuration
# ======================================================================================

[tool.ruff]
fix = true
target-version = "py313"
unsafe-fixes = false

[tool.ruff.lint]
extend-ignore = [
  "COM812",  # Conflicts with ruff-format
  "EM101",   # Exception must not use a string literal
  "EM102",   # Exception must not use an f-string literal
  "F722",    # Forward annotation syntax error (jaxtyping)
  "FBT001",  # Boolean-typed positional argument in function definition
  "FBT002",  # Boolean default positional argument in function definition
  "FIX002",  # Line contains TODO
  "ICN001",  # numpy should be np (different convention here)
  "ISC001",  # Conflicts with ruff-format
  "N999",    # Invalid module name
  "PLC2401", # Variable name contains non-ASCII character
  "PLC2403", # Module alias contains non-ASCII character
  "PLR0913", # Too many arguments in function definition
  "PLR5501", # elif not supported by vectorization converter for JAX
  "TC002",   # Move third-party import into a type-checking block
  "TC003",   # Move standard library import into a type-checking block
  "TRY003",  # Long messages outside exception class
  # Ignored during transition phase
  "D", # Docstrings
]
select = [ "ALL" ]

[tool.ruff.lint.per-file-ignores]
"conftest.py" = [
  "ANN", # Type annotations
]
"src/ttsim/__init__.py" = [
  "PLW0127", # Re-export things for tab-completion explicitly
]
"src/ttsim/interface_dag_elements/fail_if.py" = [
  "E501", # Line too long
]
"src/ttsim/interface_dag_elements/specialized_environment.py" = [
  "E501", # Line too long
]
"src/ttsim/main_args.py" = [
  "F811", # Redefinition of unused name
]
"src/ttsim/plot/dag/*.py" = [
  "B006",    # Mutable argument default
  "C901",    # Function too complex
  "PLR0912", # Too many branches
  "PLR0915", # Too many statements
]
"src/ttsim/typing.py" = [
  "PYI051", # Redundant literal union
]
"src_mettsim/mettsim/middle_earth/**/*.py" = [
  "E721",    # Type comparison
  "PLR1714", # Repeated equality comparison
  "PLR1716", # Contains duplicate comparison
  "PLR2004", # Magic value in comparison
  "RET",     # Return rules
  "SIM108",  # Use ternary operator
]
"src_mettsim/tests_middle_earth/*.py" = [
  "ANN",     # Type annotations
  "INP001",  # Implicit namespace package
  "PLR2004", # Magic value in comparison
  "S101",    # Use of assert
]
"tests/**/*.py" = [
  "ANN",     # Type annotations
  "INP001",  # Implicit namespace package
  "PLR2004", # Magic value in comparison
  "S101",    # Use of assert
]
"tests/interface_dag_elements/test_failures.py" = [
  "E501", # Line too long
]
"tests/tt/test_vectorization.py" = [
  "E721",    # Type comparison
  "PLR1714", # Repeated equality comparison
  "PLR1716", # Contains duplicate comparison
  "RET",     # Return rules
  "SIM108",  # Use ternary operator
]

[tool.ruff.lint.pydocstyle]
convention = "google"

# ======================================================================================
# ty configuration
# ======================================================================================

[tool.ty.rules]
ambiguous-protocol-member = "error"
deprecated = "error"
division-by-zero = "error"
ignore-comment-unknown-rule = "error"
invalid-argument-type = "error"
invalid-ignore-comment = "error"
invalid-return-type = "ignore"
possibly-missing-attribute = "error"
possibly-missing-implicit-call = "error"
possibly-missing-import = "error"
possibly-unresolved-reference = "error"
redundant-cast = "error"
undefined-reveal = "error"
unresolved-global = "error"
unsupported-base = "error"
unused-ignore-comment = "error"
useless-overload-body = "error"

# ======================================================================================
# pytest configuration
# ======================================================================================

[tool.pytest.ini_options]
addopts = [ "--pdbcls=pdbp:Pdb" ]
filterwarnings = [
  "ignore:.*XMLParser*:DeprecationWarning",
  "ignore:.*'tree.iter()'*:PendingDeprecationWarning",
  "ignore:.*Sorting*:FutureWarning",
  "ignore:The TerminalReporter.writer attribute is",
  "ignore:Repeated execution of the test suite",
  "ignore:Using or importing the ABCs from 'collections'",
  "ignore:Explicitly requested dtype .*64 requested in zeros_like",
]
markers = [
  "skipif_jax: skip test if backend is jax",
  "skipif_numpy: skip test if backend is numpy",
]
norecursedirs = [ "docs" ]
testpaths = [ "tests", "src_mettsim/tests_middle_earth" ]

# ======================================================================================
# yamlfix configuration
# ======================================================================================

[tool.yamlfix]
line_length = 88
none_representation = "null"
sequence_style = "block_style"
